*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery{
  width: 800px;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10rem;
  padding: 20px;
}